<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <h1>Современные технологии компьютерных сетей</h1>
        <nav>
            <ul>
                <li><a href="home.html">Главная</a></li>
                <li><a href="history.html">История</a></li>
                <li><a href="samples.html">Виды</a></li>
                <li><a href="contacts.html">Контакты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text-image-section">
        <div class="text">
            <p>На данном сайте вы сможете изучить историю компьютерных сетей, а также виды современных технологий компьютерных сетей.Вверху вы можете увидеть навигацию , нажмите на интересующий вас раздел и окунитесь в мир компьютерных сетей</p>
        </div>
        <div class="image">
            <img src="../img/img.jpg" alt="Картинка">
        </div>
    </section>
    </main>

    <footer>
        <p>&copy; 2024 Хлебников Олег. Все права защищены.</p>
    </footer>
</body>
</html>
