<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Виды технологий</title>
    <link rel="stylesheet" href="../styles/styles3.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="home.html">Главная</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="text-image-section">
            <div class="text">
                <h2>Виды технологий</h2>
                <div class="technology-item">
                    <img src="../img/img6.jpg" alt="Lan">
                    <p>Локальная сеть (LAN) применяется для подключения электронных девайсов внутри одного здания или небольшой территории. С ее помощью можно осуществлять обмен файлами, а также подключаться к интернету и другим ресурсам.</p>
                </div>
                <div class="technology-item">
                    <img src="../img/img7.jpg" alt="Gan">
                    <p>Глобальная сеть (GAN) покрывает большие территории величиной со страны. Самый известный пример глобальной сети — это всем хорошо известный интернет. GAN связывает в единый пучок LAN из разных частей мира, обеспечивая тем самым связь с такими ресурсами, как сайты, онлайн-сервисы, социальные сети и так далее.</p>
                </div>
                <div class="technology-item">
                    <img src="../img/img8.jpg" alt="WIFI">
                    <p>Беспроводная сеть (Wi-Fi) подключает устройства к интернету без проводов</p>
                </div>
				<div class="technology-item">
                    <img src="../img/img9.jpg" alt="VPN">
                    <p>Виртуальная частная сеть (VPN) работает поверх общественных сетей и за счет зашифрованных соединений дает возможность пользователям безопасно обмениваться данными.</p>
                </div>
				<div class="technology-item">
                    <img src="../img/img10.jpg" alt="PAN">
                    <p>Общедоступная сеть (PAN) соединяет компьютеры, смартфоны, а также планшеты и другие периферийные девайсы, внутри отдельного жилья.</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Хлебников Олег. Все права защищены.</p>
    </footer>
</body>
</html>
